.title {
  color: #2e3d49;
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
}

.section {
  padding: 1rem;
}

.booklist {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}