body {
  background: #fafbfc;
  color: #58646d;
  font-family: Open Sans,
    Helvetica,
    sans-serif;
  font-size: 16px !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  box-shadow: 0 0 4px 0 rgba(17, 22, 26, .16), 0 2px 4px 0 rgba(17, 22, 26, .08), 0 4px 8px 0 rgba(17, 22, 26, .08);
}

header nav {
  padding: 6px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #03b78a;
}

header nav a {
  color: white;
  padding: 10px;
  text-decoration: none;
  border: 3px solid #05b78a;
  background: #0C9;
  font-weight: bold;
  text-shadow: 1px 2px #0f6148;
  box-shadow: 1px 2px 4px #00cc98;
}