.article {
    display: inline-block;
    width: 170px;
    padding-top: 10px;
    border-radius: 4px;
    margin-right: 16px;
    margin-bottom: 20px;
    min-height: 280px;
    vertical-align: top;
    background: white;
    box-shadow: 0 0 4px 0 rgba(17, 22, 26, .16),
        0 2px 4px 0 rgba(17, 22, 26, .08),
        0 4px 8px 0 rgba(17, 22, 26, .08);
}

.article:last-child {
    margin-right: 0;
}

.title,
.authors {
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    text-align: center;
}

.title {
    padding-bottom: 0;
    margin-top: 0.7rem;
    margin-bottom: 2px;
    padding: 5px;
    font-size: 0.9rem;
}

.authors {
    margin-top: 0;
    color: darkgrey;
    padding-bottom: 10px;
    font-size: 0.8rem;
}